/* container
/* ------------------------------------------------------ */
.container {
    @extend %padding-0;
    @include respond-to(equal-tablet-portrait) {
        padding-right: 15px;
        padding-left: 15px;
    }
    @include respond-to(tablet-portrait) {
        width: 480px;
    }
    @include respond-to(phone) {
        width: 100%;
    }
}
/* block
/* ------------------------------------------------------ */
.white-block {
    background-color: $white;
    padding: 25px;
    @include respond-to(tablet-portrait) {
        padding: 25px !important;
    }
}
.static_image {
    height: 600px;
    background-position: center !important;
    background-size: cover !important;
}
.body-splash {
    opacity: 0;
    transition: opacity 500ms;
    &.loaded {
        opacity: 1;
    }
}
/* html tags
/* ------------------------------------------------------ */
body {
    // font-family:$font-primary;
    // font-size: 14px;
    // background-color: $body-bg;
    // color: $black;
    // font-weight: 300;
    // line-height: 22px;
    text-rendering: optimizeLegibility;
    //-webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 0 !important;
    overflow-x: hidden;
    @include respond-to(tablet-portrait) {
        font-size: 12px;
        line-height: 18px;
    }
}
*:focus {
    outline: none;
}
a {
    @extend %animation;
}
hr {
    border-color: $gray-e4;
}
h1,
h2,
h3,
h4,
h5,
h6{
    color: inherit;
}
button{
    @extend %animation;
    &:active,
    &:hover,
    &:focus {
        outline: none;
    }
}
pre {
    margin: 0 0 20px;
}
iframe {
    @extend %max-full-width;
}
img {
    height: auto;
    @extend %max-full-width;
}
blockquote{
    p {
        @extend %margin-0;
    }
}
ul {
    @extend %padding-0;
}
b, strong {
    -webkit-font-smoothing: subpixel-antialiased;
}
/* lists
/* ------------------------------------------------------ */
.list-inline {
    list-style:none;
    @extend %padding-0;
    & > li {
        @extend %padding-0;
        @extend %display-inline-block;
        padding-right: 10px;
    }
}
.list-two-col {
    @include list-col(2);
}
.list-three-col{
    @include list-col(3);
    @include respond-to(tablet-portrait) {
        @include list-col(2);
    }
    @include respond-to(phone) {
        @include list-col(1);
    }
}
.list-four-col{
    line-height: 25px;
    @include list-col(4);
    @include respond-to(tablet-portrait) {
        @include list-col(2);
    }
    @include respond-to(phone) {
        @include list-col(1);
    }
}
/* property hover effect
/* ------------------------------------------------------ */
.hover-effect {
    @extend %animation;
    @extend %display-block;
    overflow: hidden;
    z-index: 0;
}
/* paddings and margins
/* ------------------------------------------------------ */
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-padding-bg {
    background: none !important;
    padding: 0 !important;
}
.no-padding-left {
    padding-left: 0;
}
.padding-right-none {
    padding-right: 0;
}
.padding-top-none {
    padding-top: 0 !important;
}
.padding-bottom-none {
    padding-bottom: 0 !important;
}
/* tables
/* ------------------------------------------------------ */
table {
    margin-bottom: 15px;
}
.table-striped{
    & > thead{
        & > tr{
            & > th{
                background-color: #e9e9e9;
                border-bottom: 0;
                border-right: 1px solid $white;
                padding: 10px 15px;
                // font-size: 11px;
                &:last-child{
                    border-right: none;
                }
                @include respond-to(tablet-portrait) {
                    padding: 5px 10px;
                }
            }
        }
    }
    & > tbody{
        & > tr:nth-of-type(2n+1) {
            background-color: #eeeeee;
        }
        & > tr{
            @extend %background-color-transparent;
            & > td{
                padding: 10px 15px;
                @include respond-to(tablet-portrait) {
                    padding: 5px 10px;
                }
            }
        }
    }
}
.table-list{
    @extend %display-table;
    @extend %full-width;
}
.table-cell{
    @extend %display-table-cell;
    @extend %v-middle;
}
/* animations
/* ------------------------------------------------------ */
.slide-animated {
    opacity: 0;
}
.animated {
    animation-duration: 1s;
}
/* forms
/* ------------------------------------------------------ */
#form_messages {
    text-align: center;
    margin-top: 12px;
}
#email_messages {
    @extend %absolute;
    @extend %full-width;
    bottom: -5px;
}
.form-control {
    &:focus {
        //border-color: $anchor;
        box-shadow: none;
    }
    &.error {
        border: 1px solid $red;
    }
    &.success {
        border: 1px solid $green;
    }
    @include respond-to(991) {
        width: 100%;
        height: 50px !important;
        font-size: 14px !important;
    }
}
.input-group {
    @extend %full-width;
}
.input-group-addon{
    width: 40px;
    text-align: center;
    font-size: 14px;
    border-color: #ccc !important;
    padding: 5px 15px;
    background-color: $white;
    color: $gray-ccc;
}
.input-group-addon ~ input{
    padding-left: 0;
    border-left: 0;
}
.btn-number {
    background-color: #f1f1f1;
    color: #9b9b9b;
    &:active {
        color: $black;
    }
}
.input-number {
    text-align: center;
    @extend %border-0;
}
/* bootstrap select
/* ------------------------------------------------------ */
.bootstrap-select {
    width: 100% !important;
    .btn {
        height: 42px;
        font-weight: 500;
        @include respond-to(tablet-portrait) {
            height: 50px;
            font-size: 14px;
        }
        @include respond-to(991) {
            height: 50px;
        }
    }
    &.open {
        .btn.dropdown-toggle,
        .btn.dropdown-toggle:hover,
        .btn.dropdown-toggle:target,
        .btn.dropdown-toggle:active:hover, {
            background-color: #fff;
            box-shadow: none;
        }
    }
}
.dropdown-menu {
    & > li {
        & > a {
            padding: 10px 15px;
            @include respond-to(tablet-portrait) {
                padding: 6px 15px;
            }
        }
    }
    & > .active {
        & > a {
            color: $white;
            text-decoration: none;
            background-color: $blue;
            outline: 0;
            &:hover,
            &:focus { 
                color: $white;
                text-decoration: none;
                background-color: $blue;
                outline: 0;
            }
        }
    }
}
/* form icons
/* ------------------------------------------------------ */
.icon-holder{
    .form-control:not(textarea) {
        padding-left: 54px;
    }
}
.field-group{
    @extend %full-width;
    border-radius: 4px;
    border: 1px solid $gray-ccc;
    overflow: hidden;
    input {
        @extend %display-block;
        @extend %border-none;
        @extend %full-width;
        height: 43px;
        //font-size: 14px;
        line-height: 1.42857;
        @extend %margin-0;
        //font-weight: 300;
        padding: 6px 12px;
        &+input{
            border-top: 1px solid $gray-ccc;
        }
        @include respond-to(tablet-landscape-desktop) {
            height: 50px;
            //font-size: 14px;
        }
        @include respond-to(tablet-portrait) {
            height: 50px;
            //font-size: 14px;
        }
    }
}
.input-icon{
    @extend %relative;
    input {
        padding-left: 40px !important;
        @extend %relative;
        color: $gray-95;
    }
    &+.input-icon{
        border-top: 1px solid $gray-ccc;
    }
    &:before{
        @extend %absolute;
        @extend %left-0;
        @extend %top-0;
        color: $gray-95;
        text-align: center;
        font-family: $font-awesome;
        height: 43px;
        width: 40px;
        line-height: 43px;
        z-index: 1;
        font-size: 14px;
    }
    @include respond-to(tablet-landscape-desktop) {
        &:before{
            height: 50px;
            line-height: 50px;
        }
    }
    @include respond-to(tablet-portrait) {
        &:before{
            height: 50px;
            line-height: 50px;
        }
    }
}
.input-icon-right{
    input{
        padding-left: 12px !important;
        padding-right: 40px !important;
    }
    &:before{
        left: auto;
        @extend %right-0;
    }
}
.input-user{
    &:before{
        content: "\f007";
    }
}
.input-email{
    &:before{
        content: "\f0e0";
    }
}
.input-pass{
    &:before{
        content: "\f023";
    }
}
.input-search{
    &:before{
        content: "\f002";
    }
}
.input-calendar{
    &:before{
        content: "\f073";
    }
}
.input-level-down{
    &:before{
        content: "";
        background-image: url("../images/save-search-icon.png");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.search-location{
    @extend %relative;
    .location-trigger{
        @extend %absolute;
        @extend %right-0;
        @extend %top-0;
        @extend %display-block;
        height: 42px;
        line-height: 42px;
        width: 40px;
        text-align: center;
        cursor: pointer;
        @include respond-to(tablet-portrait) {
            height: 50px;
            line-height: 50px;
        }
    }
}

/* ui automoplete
/* ------------------------------------------------------ */
.ui-autocomplete {
    border-top: 0 !important;
    border-bottom: 0 !important;
}
.ui-menu .ui-menu-item {
    @extend %margin-0;
    cursor: pointer;
    font-size: 12px;
    padding: 8px 10px;
    line-height: 17px;
    border-bottom: 1px solid #e4f1c6;
    &:hover{
        color: $white;
    }
}
.ui-widget.ui-widget-content {
    border: 1px solid #f5f5f5;
}
/* ui range slider
/* ------------------------------------------------------ */
.ui-slider .ui-slider-handle {
    @extend %absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
    &:before{
        content: '';
        @extend %display-block;
        @extend %absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);
        width: 8px;
        height: 10px;
        background-image: url("../images/range-handle-image.png");
        background-position: center;
        background-repeat: no-repeat;
    }
}
.ui-slider-horizontal {
    height: 10px;
    background-color: #f9f9f9 !important;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
    top: 50%;
    height:1px;
    background-color: #00bff3;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #c5c5c5;
    background: #fff;
    font-weight: normal;
    color: #454545;
}
/* loaders and messages stiles
/* ------------------------------------------------------ */
.loader-ripple {
    @extend %background-none;
    @extend %relative;
    width: 200px;
    height: 200px;
    div {
        @extend %absolute;
        top: 50%;
        left: 50%;
        @extend %margin-0;
        width: 0;
        height: 0;
        opacity: 0;
        border-radius: 50%;
        border-width: 6px;
        border-style: solid;
        animation: uil-ripple 2s ease-out infinite;
        &:nth-of-type(1) {
            border-color: #afafb7;
        }
        :nth-of-type(2) {
            border-color: #5cffd6;
            animation-delay: 1s;
        }
    }
}
.mapPlaceholder{
    @extend %absolute;
    @extend %left-0;
    @extend %right-0;
    @extend %top-0;
    @extend %full-width;
    @extend %full-height;
    text-align: center;
    .loader-inner,
    .loader-ripple {
        @extend %absolute;
        left: 50%;
        top: 50%;
    }
    .loader-inner {
        @include translate(-50%,-50%);
    }
    .loader-ripple {
        @include transform(translate(-50%,-50%) scale(0.4));
    }
}
.slider-placeholder {
    color: $white;
    @extend .mapPlaceholder;
}
/* map info
/* ------------------------------------------------------ */
.map-info-box{
    width: 275px !important;
    padding: 6px;
    @extend %relative;
    // &:after{
    //     border: solid transparent;
    //     content: ' ';
    //     height: 0;
    //     @include position(absolute, inherit, inherit, -40px, 50%,2);
    //     width: 0;
    //     border-width: 20px;
    //     border-top-color: $white;
    //     @include translate(-50%,0);
    // }
    .price {
        h3 {
            font-size: 18px;
            font-weight: 500;
            line-height: 18px;
        }
        .rant {
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            margin: 5px 0 0;
        }
    }
}
.infoBox {
    animation: boxfadeIn 0.9s;
}
.gm-style .infoBox > img {
    max-width: none;
    z-index: 10;
    right: -16px;
    @include respond-to(tablet-portrait) {
        width: 25px;
        right: -25px;
    }
}
.gm-style * {
    box-shadow: none !important;
    border: none !important;
}
.gm-style-iw {
    width: 275px !important;
    top: 20px !important;
    left: 28px !important;
    box-shadow: none;
    border: none;
}
.gm-style-iw + div {
    top: 20px !important;
    position: absolute;
    opacity: 1 !important;
}
/* actions
/* ------------------------------------------------------ */
.actions{
    @extend %margin-0;
    list-style: none;
    font-size: 0 !important;
    white-space: nowrap;
    li {
        @extend %relative;
        @extend %display-inline-block;
        @extend %v-middle;
        margin-right: 5px !important;
        color: $white;
        cursor: pointer;
        font-size: 12px !important;
        &:last-child{
            margin: 0 !important;
        }
        & > span{
            @extend %animation;
            @extend %display-inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 4px;
            background-color: $black;
            opacity: .6;
            text-align: center;
            &:hover{
                background-color: $anchor;
                opacity: 1;
            }
        }
    }

}
/* share tooltip
/* ------------------------------------------------------ */
.tooltip {
    white-space: nowrap;
}
.share_tooltip {
    @extend %absolute;
    right: -4px;
    bottom: 35px;
    white-space: nowrap;
    @extend %display-block;
    visibility: hidden;
    @include border-radius(3px);
    a {
        @extend %display-inline-block;
        color: $white;
        font-size: 16px;
        padding:0 6px;
        width: 30px;
        height: 30px;
        line-height: 30px !important;
        text-align: center !important;
        margin-left: 0 !important;
        &:hover{
            color: rgba($white, .75) !important;
        }
        @include respond-to(tablet-portrait) {
            width: 20px;
            padding:0;
            font-size: 12px;
        }
        .fa {
            @extend %margin-0;
        }
    }
    &:after {
        border: solid transparent;
        content: ' ';
        height: 0;
        @include position(absolute, inherit, 10px, -13px, inherit,2);
        width: 0;
        border-width: 7px;
        border-top-color: $blue;
    }
    &.in {
        visibility: visible;
        z-index: 5;
    }
}
.tooltip_left {
    line-height: 16px;
    @extend %absolute;
    z-index: 1;
    right: 37px;
    bottom: 50%;
    transform: translate(0, 50%);
    &:after{
        @extend %absolute;
        z-index: 1;
        position: absolute;
        right: -12px;
        bottom: 8px;
        border-top-color: transparent;
        border-left-color: $blue;
    }
}
.vegas-overlay{
    background-repeat: repeat;
    background-position: center;
}