<div class="col-sm-6" style="">
	<h5>Company</h5>
	<ul>
		<li><a href="https://www.ljhooker.com.au/buy/why-buy-with-lj-hooker" title="Why Buy with LJ Hooker" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Why Buy with LJ Hooker">About Us</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/buying-real-estate-in-your-state" title="Buying Real Estate Guides in your State" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Buying Real Estate Guides in your State">Our Team</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/first-home-buyers-guides-for-your-state" title="First Home Buyers Guides for your State" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="First Home Buyers Guides for your State">News</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/different-ways-to-buy-a-property" title="Different Ways to Buy a Property" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Different Ways to Buy a Property">Join Us</a></li>
	</ul>  
</div>
<div class="col-sm-6" style="">
	<h5>Residential</h5>
	<ul>
		<li><a href="https://www.ljhooker.com.au/buy/why-buy-with-lj-hooker" title="Why Buy with LJ Hooker" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Why Buy with LJ Hooker">Apartments</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/buying-real-estate-in-your-state" title="Buying Real Estate Guides in your State" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Buying Real Estate Guides in your State">Townhouse/Villa</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/first-home-buyers-guides-for-your-state" title="First Home Buyers Guides for your State" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="First Home Buyers Guides for your State">House & Land</a></li>
	</ul>  
</div>


<div class="col-sm-6" style="">
	<h5>Comercial</h5>
	<ul>
		<li><a href="https://www.ljhooker.com.au/buy/why-buy-with-lj-hooker" title="Why Buy with LJ Hooker" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Why Buy with LJ Hooker">Text</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/why-buy-with-lj-hooker" title="Why Buy with LJ Hooker" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Why Buy with LJ Hooker">Text</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/why-buy-with-lj-hooker" title="Why Buy with LJ Hooker" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Why Buy with LJ Hooker">Text</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/why-buy-with-lj-hooker" title="Why Buy with LJ Hooker" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Why Buy with LJ Hooker">Text</a></li>
	</ul>
</div>
<div class="col-sm-6" style="">
	<h5>Rent</h5>
	<ul>
		<li><a href="https://www.ljhooker.com.au/buy/why-buy-with-lj-hooker" title="Why Buy with LJ Hooker" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Why Buy with LJ Hooker">Properties</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/why-buy-with-lj-hooker" title="Why Buy with LJ Hooker" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Why Buy with LJ Hooker">Apply</a></li>
	</ul>	
</div>


<div class="col-sm-6" style="">
	<h5>Service</h5>
	<ul>
		<li><a href="https://www.ljhooker.com.au/buy/why-buy-with-lj-hooker" title="Why Buy with LJ Hooker" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Why Buy with LJ Hooker">Migration</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/buying-real-estate-in-your-state" title="Buying Real Estate Guides in your State" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Buying Real Estate Guides in your State">Study</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/first-home-buyers-guides-for-your-state" title="First Home Buyers Guides for your State" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="First Home Buyers Guides for your State">Finance</a></li>
		<li><a href="https://www.ljhooker.com.au/buy/different-ways-to-buy-a-property" title="Different Ways to Buy a Property" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Different Ways to Buy a Property">Sample Link 4</a></li>
	</ul>
</div>
<div class="col-sm-6" style="">
	<h5>FAQ</h5>
	<ul>
		<li><a href="https://www.ljhooker.com.au/buy/why-buy-with-lj-hooker" title="Why Buy with LJ Hooker" data-event-category="Nav/Footer Links" data-event-action="click" data-event-label="Why Buy with LJ Hooker">Sample Link 1</a></li>
	</ul>
</div>
